<div class='container '> 
<div class='center'>
    <div class='section'>
        <h1> React Calender </h1>

        <h2> Appointments </h2>   
       <%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>
   
   </div> 
 </div>

